a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

@font-face {
	font-family: 'PT Sans', sans-serif;
	src: url('ptsans.woff2') format(woff2),
	url('ptsans.woff') format(woff),
	url('ptsansbold.woff2') format(woff2),
	url('ptsansbold.woff') format(woff);
	font-family: 'Cuprum', sans-serif;
	src: url('cuprum.woff2') format(woff2),
	url('cuprum.woff') format(woff),
	url('cuprumbold.woff2') format(woff2),
	url('cuprumbold.woff') format(woff),
	url('cuprumbolditalic.woff2') format(woff2),
	url('cuprumbolditalic.woff') format(woff),
	url('cuprumitalic.woff2') format(woff2),
	url('cuprumitalic.woff') format(woff);
	text-weight: normal;
	text-style: normal;
}

:root {
	--black: #000000;
	--gray-dark: #293449;
	--gray: #32425C;
	--gray-dark2: #405069;
	--icon-enter: #3D546F;
	--gray-green: #63A63E;
	--pay-green: #367315;
	--hover-green: #5FBB2D;
	--active-green: #518534;
	--white-gray: #F2F6F8 /*rgba(0, 0, 0, 0.0001)*/;
	--orange: #FFBF47;
	--bluе: #3BBCE3;
	--violet: #DC91D8;
	--salat: #8ED78F;
	--orange-light: #FFC047;
	--gray-light: #A9A9A9;
	--white: #FFF;
	--red-light: #EE3643;
	--red-click: #BA2732;
	--red-hover: #ca2c37;
	--pink-light: #F7F3EC;
	--pink-light2: #f9f5f0;
	--blue-light: #F1F5F7;
	--basik-gray-icon: #212A3A;
	--special-yellow: #FFD180;
	--gray-light-2: #C5C5C5;
	--gray-home: #C1C6CE;
	--gray-active: #cacaca;
	--gray-modal: #F4F4F4;	
	--active: #ff0000;
	--border: #eaeaea;
	--border-number: #E5E5E5;
	--basic-header: #F3F7F9;
	--background-image: #.../img/icon-left.svg;

	--font-size-s: 14px;
	--font-size-m: 18px;
	--font-size-l: 21px;
	
	--line-height-s: 18px;
	--line-height-m: 24px;
	--line-height-l: 30px;
}

body {
	min-width: 960px;
	margin: 0;
	padding: 0;
	font-family: "PT sans", Arial, sans-serif;
	font-size: var(--font-size-s);
	line-height: var(--line-height-m);
	font-weight: 400;
	color: var(--gray);
	background-color: var(--white);
}

img {
	max-width: 100%;
	height: auto;
}

.begin {
	width: 100%;
	height: 320px;
	background-color: var(--white-gray);
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	align-items: center;
	text-align: center;
	justify-content: center;
	margin: 0px auto;
}

.navigation {
	font-size: var(--font-size-m);
	line-height: var(--line-height-m);
	color: var(--white);
	background-color: var(--gray-dark);
	display: flex;
	width: 100%;
	text-align: left;
	align-items: left;
	justify-content: flex-start;
	height: 42px;
	margin: 0px auto;
}

.navigation-block {
	width: 940px;
	display: flex;
	justify-content: flex-start;
	line-height: 42px;
	margin: 0px auto;
	box-sizing: border-box;
}
.logo a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--white);
	font-size: var(--font-size-l);
	width: 220px;
	height: 47px;
}

.logo-1 a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--white);
	font-size: 25px;
	font-family: Cuprum;
	width: 220px;
	height: 67px;
	text
}

.logo-1 a:hover {
	text-decoration: none;
}

.logo a,
.logo-1 a{
	margin-left: 0px;
	background-color: var(--red-light);
	box-shadow: inset 0px -5px 0px var(--red-click);
}

.logo a:active,
.logo-1 a:active {
	background-color: var(--red-click);
	color: var(--white);
}

.search {
	position: relative;
	width: 271px;
	color: var(--white);
}


.search::before {
	content: "";
 	position: absolute;
	top: 12px;
	left: 14px;
	width: 17px;
	height: 17px;
	background: url(../img/icon-search1.svg) no-repeat;
	opacity: 0.4;
}


.search input:focus + label::before {
	content: "";
 	position: absolute;
	top: 12px;
	left: 14px;
	width: 17px;
	height: 17px;
	background: url(../img/icon-search-red.svg) no-repeat;
	color: var(--black);
}


.search input:active + label::before {
		content: "";
 	position: absolute;
	top: 12px;
	left: 14px;
	width: 17px;
	height: 17px;
	background: url(../img/icon-search1.svg) no-repeat;
	color: var(--white);
}

.search input {
	background-color: var(--gray-dark);
	border: none;
	height: 42px;
	width: 271px;
	padding-left: 40px;
	outline: none;
	box-sizing: border-box;
	
}

.search input::placeholder {
	color: var(--white);
}
.search input:focus::placeholder {

	color: var(--black);
}

.search input:active::placeholder {

	color: var(--white);
	opacity: 0.4;
}
.search input:focus {
	background-color: var(--white);
	color: var(--black);
}
.search input:active {
	background-color:  var(--gray-dark);
	color: var(--white);
}

.bookmark {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 163px;
	padding-left: 18px;
	text-align: center;
	border-right: 1px solid var(--gray-dark);
	box-sizing: border-box;
}

.bookmark::before {
	content: "";
 	position: absolute;
	top: 13px;
	left: 26px;
	width: 15px;
	height: 16px;
	background: url(../img/icon-bookmark.svg) no-repeat;
	opacity: 0.3;
}

.basket {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 136px;
	padding-left: 15px;
	position: relative;
	height: 42px;
	box-sizing: border-box;
}

.basket::before {
	content: "";
 	position: absolute;
	top: 12px;
	left: 16px;
	width: 15px;
	height: 15px;
	background: url(../img/icon-cart.svg) no-repeat;
	opacity: 0.3;
}

.basket:hover::before,
.bookmark:hover::before,
.search:hover::before {
	opacity: 1;
}

.basket:active::before,
.bookmark:active::before,
.bookmark a:active,
.basket a:active,
.search:active::before {
	opacity: 0.5;
}

.basket-show {
	background-color: var(--red-light);
}


.pay {
	width: 150px;
	background-color: var(--gray-green);
	text-align: center;
}

.pay:hover {
		background-color: var(--hover-green);
}

.pay:active {
	background-color: var(--gray-green);
	color: rgba(255,255,255,0.5);
}

.account {
	position: relative;
	width: 299px;
	height: 70px;
	display: flex;
	flex-wrap: wrap;
	margin-left: 51px;
	justify-content: space-between;
	box-sizing: border-box;
}

.account span {
	width: 299px;
	height: 45px;
	background-color: var(--white);
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: var(--font-size-l);
	line-height: 21px;
	color: var(--black);
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile {color: var(--black);}

.profile:active {color: var(--grey);}

.profile:hover::before  {
	content: "";
	background: url(../img/icon-user-ac.svg)  no-repeat;}

.profile::before,
.profile:active::before {
	content: "";
	background: url(../img/icon-user.svg)  no-repeat;
}

.profile::before,
.profile:hover::before,
.profile:active::before {
 	position: absolute;
	top: 12px;
	left: 20px;
	width: 20px;
	height: 18px;
}

.logout::after,
.logout:hover::after,
.logout:active::after {
	position: absolute;
	top: 13px;
	left: 262px;
	width: 20px;
	height: 18px;	
}

.logout:hover::after {
	content: "";
	background: url(../img/icon-login-active.svg)  no-repeat;

}
.logout::after,
.logout:active::after {
	content: "";
	background: url(../img/icon-logout.svg) no-repeat top;
}

.logged-in-account {
	width: 299px;
	height: 20px;
	color: var(--gray);
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.logged-in-account img {
	margin-left: 15px;
	margin-right: 15px;
}

.logged-in-account a {
	font-family: Cuprum;
	font-size: 16px;
	line-height: var(--line-height-s);
	color: var(--gray);
}

.nav-all {
	display: flex;
	width: 100%;
	height: 47px;
	margin: 0px auto;
}

.navigation a {
	color: var(---white);
}

.internet-shop {
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	align-items: left;
	color: var(--red-light);
	margin-left: 30px;
	margin-right: 93px;
	width: 197px;
}

.internet-shop p {
	margin: 0;
}

.header-top {
	box-sizing: border-box;
	width: 940px;
	height: 153px;
	justify-content: flex-start;
	display: flex;
	align-items: flex-start;
	text-align: left;
	margin: 0px auto;
	padding-top: 41px;
	background-color: var(--white-gray);
}

.telefon {
	box-sizing: border-box;
	width: 270px;
	height: 45px;
	padding-left: 0px;
	padding-top: 7px;
	margin-bottom: 3px;
	background: var(--white-gray);
	border: 3px solid  var(--white);
	font-weight: bold;
	font-size: var(--font-size-l);
	line-height: var(--line-height-l);
	color: var(--red-light);
	text-align: center;
}

.telefon a {
	color: var(--red-light);
}

.t-address {
	font-size: var(--font-size-s);
	line-height: var(--line-height-m);
	color: var(--gray);
	margin: 6px 0 0 0;
}

.reg,
.login {
	color: var(--black);
	box-sizing: border-box;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--white);
	font-family: Cuprum;
	font-size: var(--font-size-l);
	line-height: 21px;
	border: none;
}

.login {
	margin-left: 69px;
	width: 121px;
	height: 45px;
	padding-left: 15px;
}

.reg {
	padding: 12px 24px;
	margin-left: 10px;
	width: 150px;
	height: 45px;
	color: var(--black);
	box-sizing: border-box;
}

.login:hover::before,
.login:active::before,
.login::before {
	content: "";
	position: absolute;
	top: 13px;
	left: 15px;
	width: 20px;
	height: 20px;}


.login::before {background: url(../img/icon-login.svg) no-repeat;}
.login:hover::before {background: url(../img/icon-login-2.svg) no-repeat;}
.login:active::before {background: url(../img/icon-login.svg) no-repeat;}


.login a {
	color: var(--black);
	top: 13px;
	left: 19px;
	margin-right: 26px;
	margin-left: 6px;
}

.login:hover,
.logged-in-account a:hover,
.reg:hover
 {
	color: var(--red-light);
}

.login:active,
.reg:active,
.account span:active,
.logged-in-account a:active {
	color: var(--gray-active);
}


/* main-navigation*/
.main-navigation {
	box-sizing: border-box;
	width: 940px;
	height: 60px;
	font-size: var(--font-size-m);
	line-height: var(--line-height-m);
	color: var(--white);
	background-color: var(--gray);
	box-shadow: inset 0px -5px 0px var(--gray-dark);
	margin: 0px auto;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.main-navigation li {
	list-style-type: none;
	flex-basis: auto;
	flex-grow: 1;
	text-align: center;
}

.main-navigation a {
	padding: 18px 0;
	text-decoration: none;
	display: block;
	color: var(--white);
}

.site-navigation a:hover {
	background-color: var(--gray-dark);
}

.site-navigation a:focus {
	background-color: var(--gray-dark);
	color: var(--white);
	opacity: 0.5;
}
/*Service, index-column*/
h2 {
	font-family: Cuprum;
	font-weight: bold;
	font-size: 24px;
	line-height: var(--line-height-l);
	color: var(--white);
	margin: 0;
	padding: 0;
}

h3 {
	margin-top: -25px;
	font-family: Cuprum;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	align-items: center;
	text-transform: uppercase;
	color: var(--white);
	margin: 0;
}

h4 {
	font-family: Cuprum;
	font-size: 30px;
	line-height: var(--line-height-l);
	text-transform: uppercase;
	color: var(--black);
	margin: 0;
	padding: 0;
}

h5 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: var(--font-size-m);
	line-height: 20px;
	align-items: center;
	text-align: center;
	color: var(--black);
}

h6 {
	font-family: Cuprum;
	font-size: var(--font-size-s);
	line-height: var(line-height-s);
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: var(--white);
	margin: 0;
	padding: 0;
}


/*Gallery*/

.gallery .arrow-left::before {
    content: "";
   	position: absolute;
    z-index: 10;
    left: 24px;
    top: 114px;
    cursor: pointer;
    width: 22px;
    height: 40px;
    background: url("../img/icon-left.svg") no-repeat;
}

.gallery .arrow-right::before {
    content: "";
    position: absolute;
    z-index: 10;
    right: 20px;
    top: 114px;
    display: block;
    width: 22px;
    height: 40px;
    background: url("../img/icon-right.svg") no-repeat;
    cursor: pointer;
}

.gallery {
    position: relative;
    width: 620px;
    height: 266px;
	align-self: flex-end;
}

.button-gallery {
	margin-top: 120px;
	width: 192px;
	height: 38px;
}

.gallery input[type=radio] {
    position: absolute;
    opacity: 0;
}

.gallery-controls {
    position: absolute;
    z-index: 10;
    bottom: 14%;
    left: 45%;
    width: 60px;
    height: 10px;
    text-align: center;
}

.gallery-controls label {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    vertical-align: top;
    background: var(--white);
    border: 2px solid var(--white);
    border-radius: 50%;
    cursor: pointer;
}


#btn-1:checked ~ .gallery-controls label[for="btn-1"],
#btn-2:checked ~ .gallery-controls label[for="btn-2"] {
    background: #ee3643;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide-text {
    margin-left: 24px;
    padding-top: 26px;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
    font-family: "PT Sans", "Arial", sans-serif;
    color: var(--white);
    background: transparent;
}


.slide:nth-child(1) {
    background-image: url("../img/layer-99.jpg");
    background-repeat: no-repeat;
}


.slide:nth-child(2) {
    background-image: url("../img/slider2.jpg");
    background-repeat: no-repeat;
}

.slide {
    display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}

.theme {
	width: 940px;
	height: 409px;
	margin: 59px auto 0 auto;
	padding: 0;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
}

.theme a {
	font-family: Cuprum;
	font-size: var(--font-size-s);
	line-height: var(--line-height-s);
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: var (--white);
}

.materials-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.materials-right {
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
	height: 266px;
}

.materials,
.tools,
.technics,
.discounts,
.delivery {
	width: 300px;
	height: 123px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	padding: 20px 43px 21px 22px;
}

.materials-2 {
	width: 135px;
	height: 38px;
	background-color: rgba(255, 255, 255, 0.3);
	font-family: Cuprum;
	font-size: var(--font-size-s);
	line-height: 18px;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: var(--white);
	display: flex;
	justify-content: center;
}

.materials-2:hover {
	background: rgba(0,0,0,.2);
}

.materials-2:active {
	background: rgba(0,0,0,.3);
}

.materials-2 a {
	color: var(--white);
}

.materials-2:focus {
	background: rgba(0,0,0,.3);
}

.materials {
	background-color: var(--orange);
}

.tools {
	background-color: var(--bluе);
}

.technics {
	background-color: var(--violet);
}

.discounts {
	background-color: var(--salat);
}

.delivery {
	background-color: var(--orange-light);
}

.service p,
.index-column p,
.text-perf p {
	font-family: PT Sans;
	font-size: 13px;
	line-height: var(--line-height-m);
	color: var(--black);
}
.index-column p {
	margin-top: 0;
	margin-bottom: 25px;
}
.text-perf p {
	margin-top: 30px;
}

.button {
	font: inherit;
	text-align: center;
	color: var(--white);
	vertical-align: middle;
	background-color: var(--red-light);
	text-decoration: uppercase;
	border: none;
}

.button: hover,
.button: focus,
.button:active {
	background-color: var(--red-click);
}

.button.disabled,
.button:disabled {
	cursor: default;
	opacity: 0.5;
	background-color: var(--disable);
}

.product,
.maker,
.catalog {
	background-color: var(--red-light);
	width: 192px;
	height: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.manufacturer li {
	list-style: none;
}

.top-catalog-list {
	box-sizing: border-box;
	width: 940px;
	height: 89px;
	background-color: var(--pink-light2);
	margin: 59px auto 0 auto;
	display: flex;
	justify-content: space-between;
	padding-left: 28px;
	padding-right: 14px;
	align-items: center;
}

.catalog-item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 220px;
	height: 318px;
	border: 2px solid var(--border);
	text-align: center;
	list-style: none;
}

.new-mark::before {
	content: "";
  	position: absolute;
  	top: 0;
  	right: 0;
  	z-index: 1;
  	top: -1px;
  	right: -1px;
  	width: 70px;
  	height: 70px;
  	background: url(../img/new.svg) no-repeat 0 0;
}

.catalog-item-selected {
	background-color: var(--white);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 220px;
	height: 153px;
	display: none;
}

.catalog-item-selected-show {
	display: block;
}

.top-catalog-list-2 {
	width: 940px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.top-catalog-list-3 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 940px;
	margin: 0 auto;
	height: 310px;
	align-content: space-between;
}

.top-catalog-list-3 li {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	height: 145px;
	background-color: var(--white);
	border: 2px solid var(--border);
	list-style: none;
	margin: 0px;
}

.top-catalog-list-3 li:hover {
	box-shadow: 0 10px 25px rgba(41,52,73,.5);
}

.top-catalog-list-3 li:active {
	box-shadow: 0 4px 10px rgba(41,52,73,.5);
	opacity: .3;
}

.catalog-list ul,
.manufacturer ul {
	width: 940px;
	margin: 20px auto 70px auto;
	padding: 0;
}

.catalog-item span,
.catalog-item-selected span {
	font-family: PT Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: var(--line-height-s);
	align-items: center;
	text-align: center;
	text-decoration-line: line-through;
	text-transform: uppercase;
	color: var(--gray-light);
	display: block;
}

.catalog-item-selected {
	list-style: none;
}

.button-card {
	background-color: var(--red-light);
	width: 141px;
	height: 38px;
	border: none;
	font-family: PT Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: var(--line-height-s);
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: var(--white);
	clip-path: polygon(
	0 0,
	85% 0,
	100% 50%,
	85% 100%,
	0 100%);
}

.card-bottom {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 21px;
	height: 118px;
}

.image {
	display: flex;
	align-items: center;
	height: 166px;
}

.catalog-item:hover {
	box-shadow: 0 0 10px #aeb2ba;
}

.filter {
	font-family: PT Sans;
	font-style: normal;
	align-items: center;
	text-transform: uppercase;
	color: var(-black);
}

.filter span {
	font-size: 17px;
	line-height: var(--line-height-l);
	font-weight: bold;
}

.filter p {
	font-weight: normal;
	font-size: 15px;
	line-height: 19px;
	color: var(--black);
	width: 220px;
	height: 38px;
	background-color: var(--pink-light);
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 18px;
	box-sizing: border-box;
	margin-bottom: 13px;
}
.filter-form {
	margin-top: 12px;
	width: 220px;
	height: 80px;
	background-color: var(--pink-light);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 8px;
	box-sizing: border-box;
	position: relative;
}

.filter output {
	width: 95px;
	height: 38px;
	background-color: var(--pink-light);
	float: left;
	margin-right: }

.output-value  {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
	font-size: 17px;
	text-align: center;
	vertical-align: middle;
}

.output-value output {
	padding-top: 7px;
	box-sizing: border-box;
}

hr {
	border: 1px solid var(--border-number);
	border-bottom-width: 0;
	width: 220px;
}

.btn1 {
	width: 38px;
	height: 38px;
	float: left;
	margin-left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	text-transform: uppercase;
}

.btn2 {
	width: 140px;
	height: 38px;
	float: left;
	margin-left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	text-transform: uppercase;
}

.uncheck-button {
	background-color: var(--white);
	color: var(--black);
	border: 1px solid var(--border-number);
}

.check {
	color: var(--white);
	background-color: var(--red-light);
	margin-left: 0px;
	border: 1px solid var(--red-light);
}

.uncheck-button:hover {
	border: 1px solid var(--gray-light-2);
}

.uncheck-button:active {
	border: 1px solid var(--red-hover);
}

.sort img {
	margin-left: 5px;
	margin-right: 14px;
}

.sort .margtext {
	margin-left: 30px;
}

.sort span:not(.margsort) {
	text-decoration: none;
	color: #acaaa5;
	border-bottom: 1px dashed var(--red-light);
}

.sort span:hover:not(.margsort) {
	color: var(--black);
	border-bottom: 1px solid var(--red-light);
}

/* блок компания и контакты */
.index-column {
	display: flex;
	justify-content: space-between;
	width: 940px;
	height: 356px;
	margin: 0px auto 70px;
	color: var(--black);
	background-color: var(--white);
}

.company {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 528px;
	height: 356px;
}

.contacts {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 300px;
	height: 356px;
}

.contacts img {
	margin: 8px 0 25px 0;
	display: block;
}

.transport {
	font-size: var(--font-size-m);
	line-height: var(--line-height-m);
	color: var(--black);
	list-style: none;
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 18px;
	line-height: 40px;
	margin: -30px 0 5px 0;
}

.transport,.transport li {
	position: relative;
}

.transport li::before {
	content: '';
	position: absolute;
	left: -40px;
	top: 19px;
	display: block;
	width: 25px;
	height: 2px;
	background: var(--red-light);
}

.btn {
	background-color: var(--red-light);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	color: var(--white);
	text-transform: uppercase;
}

.btn:hover {
	background: var(--red-hover);
}

.btn:active {
	background: var(--red-click);
}

.about-company {
	width: 220px;
	height: 38px;
}

.write-us {
	width: 300px;
	height: 38px;
}


.catalog-1 {
	width: 940px;
	margin: 21px auto 0 auto;
	padding: 0;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
}

.bread {
	width: 463px;
	height: 18px;
	display: flex;
	justify-content: space-between;
	font-family: PT Sans;
	font-size: 13px;
	line-height: var(--line-height-s);
	padding-bottom: 20px;
	text-transform: uppercase;
	color: var(--black);
}

.perforator {
	width: 940px;
	height: 89px;
	padding-left: 29px;
	padding-top: 29px;
	background-color: var(--white-gray);
	box-sizing: border-box;
	margin-bottom: 20px;
}

.text-perf {
	width: 100%;
	height: 261px;
	background-color: var(--white-gray);
	margin: 0 auto;
	padding-top: 64px;
	padding-left: 0px;
	box-sizing: border-box;
}

.catalog-list-1 {
	box-sizing: border-box;
	width: 700px;
	margin-bottom: 59px;
}

.sort {
	height: 38px;
	display: flex;
	background-color: var(--pink-light);
	margin-bottom: 28px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.margsort {
	margin-right: 80px;
	margin-left: 19px;
}

.catalog-list-1 ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	height: 1046px;
}

.filter-block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 220px;
	height: 433px;
}

.filter-block span {
	margin-bottom: 15px;
}


/* ----for footer---  */
.footer {
	margin-top: 70px;
}



.footer-bottom p {
	margin: 0;
	padding: 0;
}

footer a:hover {
	text-decoration: underline;
}

footer a:active {
	color: var(--red-light);
}

.footer-top {
	background-color: var(--gray);
	box-sizing: border-box;
	width: 100%;
	height: 193px;
	margin: 0 auto;
}

.content-block {
	width: 940px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: flex-start;
	box-sizing: border-box;
	margin: 0 auto;
}


.address {
	font-family: Cuprum;
	font-size: var(--font-size-m);
	line-height: var(--line-height-m);
	color: var(--basic-header);
	margin-left: 0px;
	text-align: left;
	margin-top: -8px;
}

.nav-footer-1 {
	font-family: Cuprum;
	font-size: var(--font-size-m);
	line-height: var(--line-height-m);
	color: var(--blue-light);
	list-style: none;
	display: flex;
	width: 549px;
	height: 24px;
	margin-top: 37px;
	margin-left: 171px;
	justify-content: space-between;
	padding: 0px;
}

.nav-footer-1 a {
	color: var(--white);
}
.nav-footer-1 a:active,
.nav-footer-2 a:active  {
	color: inherit;
	opacity: 0.5;
}



.nav-footer-2 {
	font-family: Cuprum;
	font-size: var(--font-size-m);
	line-height: var(--line-height-m);
	color: var(--special-yellow);
	list-style: none;
	display: flex;
	width: 525px;
	height: 24px;
	margin-top: 16px;
	margin-right: 0px;
	justify-content: space-between;
	padding: 0px;
}

.nav-footer-2 a {
	color: var(--special-yellow);
}

.footer-bottom {
	background-color: var(--gray-dark);
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	align-items: flex-start;
	box-sizing: border-box;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 107px;
	margin: 0 auto;
}

.footer-bottom p {
	font-family: Cuprum;
	font-size: 16px;
	line-height: var(--line-height-s);
	color: var(--white);
}

.footer-bottom a {
	font-family: Cuprum;
	font-size: 16px;
	line-height: var(--line-height-s);
	color: var(--special-yellow);
}

.end-1,
.end-2,
.end-3 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.end-1 {
	width: 227px;
	height: 37px;
	flex-wrap: wrap;
}

.end-2 {
	width: 134px;
	height: 44px;
}

.social-item {
	width: 44px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--basik-gray-icon);
	border-radius: 50%;
}

.social-item:hover,
.social-item:active {
	background: var(--red-light);
}

.end-3 {
	width: 286px;
	height: 37px;
	text-align: left;
}

.service {
	width: 100%;
	height: 522px;
	padding-top: 70px;
	background-color: var(--blue-light);
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 70px;
	box-sizing: border-box;
}

.service-block {
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	width: 940px;
}

.service input {
	display: none;
}

.service-left {
	width: 940px;
}

.service h4,
.index-column h4 {
	margin-bottom: 24px;
}

.service p {
	margin-bottom: 70px;
}

.toggle label {
	display: block;
	width: 218px;
	padding: 13px 0 16px 22px;
	font-weight: 700;
	font-size: 21px;
	line-height: 30px;
	font-family: "Cuprum","Arial",sans-serif;
	text-align: left;
	color: var(--white);
	background-color: var(--gray);
	border-top: 1px solid var(--gray-dark2);
	border-bottom: 1px solid var(--gray-dark);
	outline: none;
	cursor: pointer;
}

.knop1:checked~.toggle label[for=kn1],.knop2:checked~.toggle label[for=kn2],.knop3:checked~.toggle label[for=kn3] {
	color: var(--gray);
	background: var(--white);
	border-top: 1px solid var(--white);
	border-bottom: 1px solid var(--white);
	outline: none;
}

.button-delivery,
.garant,
.credit {
	background-repeat: no-repeat;
	background-position: top right;
}

.button-delivery {
	background-image: url(../img/layer-1311.png);
}

.garant {
	background-image: url(../img/guarantee.png);
}

.credit {
	background-image: url(../img/credit.png);
}

.tab {
	display: none;
}

.knop1:checked~.service-right .button-delivery,
.knop2:checked~.service-right .garant,
.knop3:checked~.service-right .credit {
	display: block;
}

.visible {
	display: none;
}

.service-right {
	height: 283px;
	width: 617px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 80px;
}

.credit-btn {
	width: 195px;
	height: 38px;
	background-color: var(--red-light);
	display: flex;
	justify-content: center;
	align-items: center;
}

.credit a {
	color: var(--white);
	font-family: Cuprum;
	font-weight: bold;
}

.list-firm,
.list-supply {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-firm input[type=checkbox]+label {
	font-weight: 700;
	font-style: normal;
	font-size: 17px;
	line-height: 30px;
	font-family: "PT Sans","Arial",sans-serif;
	text-transform: uppercase;
}

.list-firm {
	margin-top: 14px;
}

.list-firm input[type=checkbox],.list-supply input[type=radio] {
	display: none;
}

.list-firm input[type=checkbox]+label {
	position: relative;
	display: block;
	margin-bottom: 20px;
	padding-left: 35px;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	color: var(--black);
	cursor: pointer;
}

.list-firm input[type=checkbox]+label::before {
	content: '';
	position: absolute;
	width: 26px;
	height: 26px;
	top: -4px;
	left: 0;
	background: url(../img/checkbox-off.svg) no-repeat;
}

.list-firm input[type=checkbox]:checked+label::after {
	content: '';
	position: absolute;
	width: 26px;
	height: 26px;
	top: -4px;
	left: 0;
	background: url(../img/checkbox-on.svg) no-repeat;
}

.list-firm input[type=checkbox]+label:hover::before {
	content: '';
	position: absolute;
	width: 26px;
	height: 26px;
	top: -4px;
	left: 0;
	background: url(../img/checkbox-off.svg) no-repeat;
}

.list-firm input[type=checkbox]:checked+label:hover::after {
	content: '';
	position: absolute;
	width: 26px;
	height: 26px;
	top: -4px;
	left: 0;
	background: url(../img/checkbox-on.svg) no-repeat;
}

.list-supply input[type=radio]+label {
	position: relative;
	display: block;
	margin-bottom: 20px;
	padding-left: 34px;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	line-height: 20px;
	font-family: "PT Sans","Arial",sans-serif;
	text-transform: uppercase;
	color: var(--black);
}

.list-supply input[type=radio]+label::before {
	content: '';
	position: absolute;
	width: 26px;
	height: 26px;
	top: -4px;
	left: -1px;
	background: url(../img/radio-off.png) no-repeat;
}

.list-supply input[type=radio]:checked+label::after {
	content: '';
	position: absolute;
	width: 26px;
	height: 26px;
	top: -4px;
	left: -2px;
	background: url(../img/radio-on.png) no-repeat;
}

.list-supply input[type=radio]+label:hover::before {
	content: '';
	position: absolute;
	width: 26px;
	height: 26px;
	top: -4px;
	left: -2px;
	background: url(../img/radio-off.png) no-repeat;
}

.list-supply input[type=radio]:checked+label:hover::after {
	content: '';
	position: absolute;
	width: 26px;
	height: 26px;
	top: -4px;
	left: -2px;
	background: url(../img/radio-on.png) no-repeat;
}

.button-filter {
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans","Arial",sans-serif;
	text-transform: uppercase;
	color: var(--black);
	background: var(--white);
	border: 1px solid var(--border-number);
	border-radius: 4px;
	cursor: pointer;
	width: 220px;
	height: 38px;
}

/* модальные окна */

/*стиль для неактивной кнопки модального окна , активная - btn */	
.btn-nonactive {
	background-color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:4px;
	text-transform: uppercase;
	color: var(--black);}
	.btn-nonactive:hover{outline: 1px solid var(--gray-light-2);}
	.btn-nonactive:active{outline: 1px solid var(--red-click);}

/*модальные окна (карта, добавлено в корзину, напишите нам)*/

.modal-write {
	z-index: 20;
	top: 200px;
	width: 620px;
	height: 430px;
	border-top:7px solid var(--red-light);
	font-size: 24px;
	font-family: Cuprum;
	box-shadow:0 30px 50px rgba(0,0,0,.7);
	padding-top: 46px;
	box-sizing: border-box;
	background-color: var(--white);
	padding-left: 80px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.modal-add {
	top: 655px;
	padding-left: 0px;
	height: 282px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 55px;
	box-sizing: border-box;
	background-color: var(--white);
}

.map-popup {
	top: 2377px;
	width: 943px;
	height: 449px;
	padding: 0;
}

.modal-write,
.modal-add,
.map-popup {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	display: none; 
}
.map-popup iframe {
	border: none;
}

.total-for-icon {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 360px;
	height: 66px;
	margin-left: 81px;
	box-sizing: border-box;
}

.icon {
	width: 66px;
	height: 66px;
	float: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-image: url(../img/icon-mark.svg);
}

.add-to-cart {
	font-family: Cuprum;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
}

.add-button {
	width: 620px;
	height: 112px;
	margin-top: 40px;
	background:#f1f1f1;
	display: flex;
	justify-content: flex-start;
}

/*открытие модальных окон и эффекты */
.modal-show {
	display: block;
	animation: bounce 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.modal-close::after,
.modal-close::before {
	content:'';
	position:absolute;
	top:20px;
	right:10px;
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
	width:30px;
	height:5px;
	background:var(--red-light);
	cursor:pointer;
	border: none;}

.modal-close {
	display: block;
	padding:0px;
	border:none;
}

.modal-error {
 	animation: shake 0.6s;
}

 @keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-close::after{-webkit-transform:rotate(45deg);
	transform:rotate(45deg)}


.button-pay,
.button-next {
	width:192px;
	height: 38px;
	margin-top: 37px;
	margin-left:114px;
	font-size:14px;
	text-transform:uppercase;
	text-decoration:none;
	border-radius:1px;}

.button-next {
	background: var(--white);
	color: var(--black);
	margin-left:10px;
}

/*модальное окно карточки товара при hover*/

.button-pay-green {
	width: 135px;
	height: 38px;
	font-family: Cuprum;
	font-size: var(--font-size-s);
	line-height: var(--line-height-s);
	text-transform: uppercase;
}
.pay-green {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: var(--gray-green);
	border-bottom: 3px var(--pay-green); 
	border-radius: 2px; 
	box-shadow: inset 0px -3px 0px var(--pay-green);
	color: var(--white);
	margin: 38px 44px 0 41px;
}

.pay-green::before {
	content: "";
	position: relative;
	top: -2px;
	left:-8px;
	width: 15px;
	height: 15px;
	background: url(../img/icon-cart.svg) no-repeat;
}

.bookmark-green {
	background-color: var(--white);
	border: 3px solid var(--gray-green);
	border-radius: 2px; 
	color: var(--gray);
	margin: 10px 44px auto 41px;
}	
.pay-green img {
	margin-right: 10px;
	margin-left: 30px;
	opacity: 0.3;
}

.pay-green a {color: var(--white);}
.pay-green:hover {background-color: var(--hover-green);}
.bookmark-green:hover {border: var(--gray) 3px solid;}
.pay-green:active {background-color: var(--active-green);}
.bookmark-green:active {
	border: var(--gray) 3px solid;
	opacity: 0.5
}

/* end модальное окно добавлено в корзину*/
.modal-write input {
	display: block;
	width: 220px;
	height: 38px;
	box-sizing: border-box;
	padding-left:14px;
	font-size:13px;
	font-family:"PT Sans","Arial",sans-serif;
	text-align:left;
	color:#999;
	background: var(--white);
	border:1px solid #999;
	border-radius:3px;
}

.modal-write span {
	display:block;
	margin:0 0 -10px 0; 
}

.modal-write label {
	float: left;
}


.modal-write label:nth-child(2) {
	margin-left: 20px; 
 	margin-bottom:17px;
}

.modal-write textarea {
	margin: 25px 0 37px 0;
	width: 460px;
	height: 114px;
	padding: 14px 0 0 14px;
	box-sizing: border-box;
	text-align:left;
	font-family: Pt sans;
	font-size: 13px;
	color:#999;
	background:var(--white);
	border:1px solid #999;
	border-radius:3px}

.form-btn {
	height: 112px;
	width: 620px;
	margin-left: -80px;
	margin-bottom: -91px;
	margin-top: 17px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--gray-modal);
}


.send-mail {
	width:460px;
	height: 38px;
	font-size:14px;
	text-transform:uppercase;
	text-decoration:none;
	border-radius:3px;
	border:none;
	font-family: Cuprum;
}

input[type=range]::before {
	content: "";
	position: absolute;
	top: 28px;
	left: 18px;
  	border: 0px;
  	height: 22px;
  	width: 21px;
  	cursor: pointer;
    background: url(../img/filter-button1.svg);
}

input[type=range] {
	-webkit-appearance: none;
 	width: 180px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

input[type=range]:focus {
	outline: none; }

input[type=range] {
  	-webkit-appearance: none;
  	background-color: var(--red-gray);
}
 
input[type=range]::-webkit-slider-thumb {
 	-webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  	margin-top: -10px;
  	-webkit-appearance: none;
 	height: 22px;
  	width: 21px;
  	background: var(--white);
  	cursor: pointer;
  	background: url(../img/filter-button1.svg);
}
 

input[type=range]::-webkit-slider-runnable-track {
  	width: 80px;
 	height: 2px;
  	cursor: pointer;
  	background: #70B86C;
  	border: 0;
}

/* Тоже самое для Firefox */
input[type=range]::-moz-range-thumb {
 	border: 0px;
  	height: 22px;
  	width: 21px;
  	cursor: pointer;
    background: url(../img/filter-button1.svg);
}

input[type=range]::-moz-range-track {
  	cursor: pointer;
 	 width: 180px;
  	height: 2px;
  	cursor: pointer;
  	background: #70B86C;
}

.pagination {
	margin-top: 48px;
}